{% extends 'social/layout.html' %}
{% block content %}
    <div class="container col-xxl-8 px-4 py-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                {% load static %}<img src={% static 'aquí tengo que añadir la imagen estatica' %} class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">PeluCan - Peluquería canina cerca de mí</h1>
                <p class="lead">Encuentra las mejores peluquerias caninas de tu alrededor. Opiniones, precios, horarios, servicios... Toda la informacion que necesitas sobre las peluquerias caninas.
                    <br>¡Ahora también peluquerias caninas a domicilio!
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="peluquerias.html"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Ver peluquerias</button></a>
                    <a href="registrarse.html"><button type="button" class="btn btn-secondary btn-lg px-4">Registrar mi peluqueria</button></a>
                    {% comment %}
                                                <a href="https://www.buymeacoffee.com/gorkaurzelai"><button type="button" class="btn btn-secondary btn-lg px-4" style="background-color: orange;"><img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee">¡Ayúdame con un café!</button></a>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}